
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html { 
    font-family: Helvetica, Arial, sans-serif;
    scroll-behavior: smooth;
}

.text-white { 
    color: #fff !important;
}

.text-gray { 
    color: #757575 !important;
}

.row {
    margin-left: -8px;
    margin-right: -8px;
}

.col {
    float: left;
    padding-left: 8px;
    padding-right: 8px;
    width: 100%;
}

.col-second { 
    width: 50%;
}

.text-center {
    text-align: center;
}

#header{
    height: 46.5px;
    background-color: #000;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1;
}

#nav li{
    display: inline-block;
    position:relative;
}

#nav{
    display: inline-block;
}

#nav li a{
    text-decoration: none;
    line-height: 46.5px;
    padding: 0 24px;
    display: inline-block;
}

#nav > li > a{
    color: white;
}

#nav > li:hover > a{
    color: #000;
    background-color: #ccc;
}

#nav .subnav{
    display: none;
    position:absolute;
    top: 100%;
    left: 0;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

#nav .subnav a{
    color: black;
    padding: 0 12px;
    margin-right: 40px;
    line-height: 38.5px;
}

#nav .subnav li:hover{
    color: #000;
    background-color: #ccc;
    width: 100%;
    display: block;
}

#nav li:hover .subnav{
    display: block;
}

#nav .nav-down{
    font-size: 12px;
}

#header .menu-icon,
#header .search-icon{
    color:#fff;
    font-size: 16px;
    line-height: 46.5px;
    padding:0 25px;
}

#header .moblie-menu,
#header .search-button {
    float:right;
    position:absolute;
    top: 0;
    right: 0;
}

#header .moblie-menu,
#header .search-button a{
    text-decoration: none;
}

#header .menu-icon:hover { 
    color: #000;
}
#header .moblie-menu:hover,
#header .search-button:hover{
    color: #000;
    background-color: #ccc;
    
}

#header .moblie-menu { 
    display: none;
}


#slider{
    margin-top: 46.5px;
    padding-top: 50%;
    background-image: url('../img/slider/slider1.jpg');
    background-repeat: no-repeat;
    background-position: top center;
    background-size: cover;
    position: relative;
}

#slider .text-content{
    color: #fff;
    position:absolute;
    bottom: 48px;
    text-align: center;
    width: 100%;
}
#slider .text-heading{
    padding-bottom: 20px;
}


#content{
    height: 1100px;
}

#content .content-section{
    width: 800px;
    height:700px;
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding-top: 64px;
    padding-left: 16px;
    padding-right: 16px;

}

.content-section .section-heading{
    font-size: 30px;
    text-align: center;
    font-weight: 10;
    letter-spacing: 4px;
    
}

.content-section .section-subheading{
    font-size:15px;
    text-align: center;
    margin-top:25px;
    font-style:italic;
    opacity: 0.5;
}

.content-section .about{
    margin-top:25px;
    text-align: justify;
    line-height: 1.5;
}

#content .member-item{
    float: left;
    padding-top:64px;
    width: 33.33333%
}

#content .member .member-name{
    text-align: center;
    padding-bottom: 15px;
}   

#content .member .member-img{
    width: 154px;
    height: 154px;
    display:block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 4px;
}

#content .tour-section{
    background-color: #000;
    height: 850px;
}

.tour-section .list {
   list-style-type: none;
   background-color: white;
   margin-top: 40px;
}

.list li { 
    font-size: 15px;
    padding: 10.2px 16px;
    border: 1px solid #ddd;
}

.sold-out { 
    background-color: #f44336;
    margin-left: 16px;
    padding: 3px 8px;
}

.special { 
    float: right;
    width:24px;
    height:24px;
    background-color: #000;
    color: #fff;
    text-align: center;
    line-height: 24px;
    border-radius: 50%;
    margin-top: -3px;
}



.place-body {
    padding-top: 16px;
    background-color: #fff;
    height: 210px;
}

.place-item {
    width:33.3333333%;
    padding:32px 8px;
}

.place-attribute{
    width: 100%;
}

.place-attribute:hover{
    opacity: 0.5;
}

.place-heading{
    margin-bottom: 20px;
    margin-left: 12px;
}

.place-time {
    margin-bottom: 20px;
    margin-left: 12px;
}

.place-about {
    margin-bottom: 20px;
    margin-left: 12px;
}

.buy-tickets {
    margin-bottom: 20px;
    margin-left: 12px;
    padding: 10px 16px;
    text-decoration: none;
    background-color: #000;
    color: #fff;
    cursor:pointer;
}

.buy-tickets:hover {
    background-color: #ccc;
    color: #000;
}
#footer{
    margin-top: 23cm;
}

.modal { 
    position:fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background :rgba(0, 0, 0, 0.3);
    justify-content: center;
    align-items: center;
    display: none;
}

.modal.open {
    display: flex ;
}

.modal-container {
    background-color: #fff;
    width: 900px;
    max-width: calc(100% - 60px);
    min-height: 472px;
    position: relative;
    animation: modalfadein ease 0.5s;
}

.modal-header {
    background-color: #009688;
    height: 130px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    color: #fff;
    letter-spacing: 5px;
}
.modal-header .modal-heading-icon{
    padding-left: 16px;
}

.modal-close {
    position:absolute;
    top: 0;
    right:0;
    color:#fff;
    padding: 16px;
    cursor: pointer;
}

.modal-close:hover {
    color:#000;
    background-color: #ccc;
}

.modal-body {
    padding: 0 16px;
}

.modal-label {
    display: block;
    padding: 16px 0;
    font-size: 15px;
}

.modal-input {
    display: block;
    padding: 10px 8px;
    border: 1px solid #ccc;
    width: 100%;
}

.pay {
    background-color: #009688;
    width: 100%;
    height: 50px;
    margin: 20px 0;
    color: #fff;
    cursor: pointer;
    font-weight: 550;
}

.pay:hover {
    color: #000;
    background-color: #ccc;
}

.modal-help {
    position:absolute;
    bottom: 40px;
    right: 15px;
}

.modal-help-color {
    color: #2196F3;
}

@keyframes modalfadein {
    from{
        opacity: 0;
        transform: translateY(-150px);
    }
    to{
        opacity: 1;
        transform: translateY(0);
    }
}

.contact-content {
    margin-top: 48px;
}

.info { 
    font-size: 18px;
}

.form-control { 
    padding: 8px;
    width: 100%;
    border: 1px solid #ccc;
    font-size: 15px;
    margin-bottom: 8px ;
}

.font-contact { 
    padding-bottom: 4px;
}

.submit-contact {
    cursor:pointer;
    background-color: #000;
    color:#fff;
    padding: 8px 16px;
    border:none;
    float: left;
}

.submit-contact:hover {
    background-color: #ccc;
    color: #000;
}

.contact-end { 
    float: right;
    margin-right: 8px;
}

.footer-icon {
    margin: 60px 0;
}

.footer-icon > div {
    display:flex;
    justify-content: center;
}



.hover:hover { 
    color: gray;
}

.size-icon {
    font-size: 22px;
    padding: 2px;
    color:#555454;

}
/* mobile */
@media only screen and (max-width: 599px){
    #nav{
        display: block;
    }
    #nav > li {
        display:block;
    }
    #nav > li:first-child{
        display: inline-block;
    }
    #header .search-button{
        display: none;
    }
    #header {
        overflow: hidden;
    }
    #header .moblie-menu { 
        display:block;
    }
    #nav li a {
        display: block;
    }
    #nav .subnav { 
        position: initial;
        background-color: #333;
    }
    #nav .subnav a {
        color: #fff;
        padding: 5px 50px;
    }
    #nav li {
        display: initial;
    }
    #content .member-item {
        width: 100%;
        float: none;
    }
    #content .member .member-img {
        width: 80%; 
        height: 100%;
    }
    #content .tour-section {
        margin-top: 1125px;
        height: 2100px;
    }
    #footer {
        margin-top: 88cm;
    }

    .place-body {
        height: 220px;
    }

    .place-item {
        width: 100%;
        padding: 32px 8px;
    }
    #content .content-section {
        padding-left: 8px;
        padding-right: 8px;
    }
    .col {
        padding-top: 4px;
    }
    .col-second {
        width: 100%;
    }
    .s-full-width {
        width: 100% !important;
    }
    .contact-end {
        float: none;
        margin-right: 8px;
        margin-left: 8px;
    }
    .tour-section .list {
        margin-bottom: 30px;
    }
}
@media only screen and(min-width: 600px) and (max-width: 767px){
    /* #content .tour-section {
        margin-top: 1490px;
    } */
}
@media screen and (width: 540px){
    #content .tour-section {
        margin-top: 1400px;
    }
}
/* tablet */
@media only screen and(min-width: 768px) and (max-width: 1023px){

}


